/* Full screen center */
.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,white, #9333ea);
  font-family: Arial, Helvetica, sans-serif;
}

/* Card */
.auth-box {
  background: #ffffff;
  padding: 30px 35px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Heading */
.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #111827;
}

/* Inputs */
.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  outline: none;
}

.auth-box input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
}

/* Button */
.auth-box button {
  width: 100%;
  padding: 12px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-box button:hover {
  background-color: #4338ca;
}

/* Text below */
.auth-box p {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #374151;
}

/* Link */
.auth-box a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 600;
}

.auth-box a:hover {
  text-decoration: underline;
}



.show-password {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.show-password input {
  margin: 0;
}

/* Remove extra space under button */
.auth-box button {
  margin-bottom: 0;
}
